<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.set()</title>
    <script src="../vue-js/vue.js"></script>
</head>
<body>

<div id="app">
    <h1>{{ message }}</h1>
    <h3 v-if="student.name">学生姓名:{{ student.name }}</h3>
    <h3 v-if="student.sex">学生性别:{{ student.sex }}</h3>
    <h4><button @click="addSex">添加一个名字</button></h4>
</div>

<script>
    // 阻止 vue 在启动的时候生成生产提示
    Vue.config.productionTip = false;
    // let 变量； const 常量；
    const vm = new Vue({
        // 选项--关键 用于标识要更改哪个元素中的数据
        el: '#app',
        data: {
            message: 'Vue Hello World!!!',
            student: {

            }
        },
        methods: {
            addSex() {
                // 此处方法只能给 data中已有的字段进行重新设置值. 对于第一个参数 target, 不允许是 vm, 不允许是 除含data以外的参数值.必须是 data中已有的字段
                Vue.set(this.student, 'name', '张三');
                // 此处方法是有局限性: 
                this.$set(this.student, 'sex', '男');
            }
        }
    })


</script>

</body>
</html>
