<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue-列表渲染-列表过滤</title>
    <script src="../vue-js/vue.js"></script>
</head>
<body>

<div id="app">
    <h1>{{ message }}</h1>
    <label>
        <input type="text" v-model="keyWordByWatch" placeholder="请输入姓名-Watch实现">
    </label>
    <ul>
        <li v-for="(item,index) of watchFilterDataList" :key="item.id">
            下标-{{index}}-ID-{{item.id}}-姓名-{{item.name}}---年龄-{{item.age}}---性别-{{item.sex === 1 ? '男' : '女'}}
        </li>
    </ul>
    <label>
        <input type="text" v-model="keyWordByComputed" placeholder="请输入姓名-Computed实现">
    </label>
        <ul>
        <li v-for="(item,index) of computedFilterDataList" :key="item.id">
            下标-{{index}}-ID-{{item.id}}-姓名-{{item.name}}---年龄-{{item.age}}---性别-{{item.sex === 1 ? '男' : '女'}}
        </li>
    </ul>
</div>

<script>
    // 阻止 vue 在启动的时候生成生产提示
    Vue.config.productionTip = false;
    // let 变量； const 常量；
    const vm = new Vue({
        // 选项--关键 用于标识要更改哪个元素中的数据
        el: '#app',
        data: {
            message: '列表渲染-列表过滤',
            keyWordByWatch: '',
            keyWordByComputed: '',
            dataList: [
                {
                    id: "001",
                    name: "马冬梅",
                    age: 25,
                    sex: 0,
                },
                {
                    id: "002",
                    name: "周冬雨",
                    age: 20,
                    sex: 0,
                },
                {
                    id: "003",
                    name: "周杰伦",
                    age: 30,
                    sex: 1,
                },
                {
                    id: "004",
                    name: "温兆伦",
                    age: 45,
                    sex: 1,
                },
            ],
            watchFilterDataList: [],
        },
        methods: {
            search() {
                console.log("点击了搜索按钮一次.")
            }
        },
        computed:{
            computedFilterDataList() {
                return this.dataList.filter((item) => {
                    // 将返回匹配条件的数据
                    return item.name.indexOf(this.keyWordByComputed) !== -1;
                })
            }
        },
        watch: {
            keyWordByWatch: {
                // 初始化时,让 handler 调用一下, 拿到当前的值
                immediate: true,
                handler(newVal, oldVal) {
                    console.log("xinde 值是" + newVal)
                    this.watchFilterDataList = this.dataList.filter((item) => {
                        // 将返回匹配条件的数据
                        return item.name.indexOf(newVal) !== -1;
                    })
                }
            }
        }
    })
</script>

</body>
</html>
